CREATE DATABASE SQLTABLE
GO

USE SQLTABLE
GO

CREATE TABLE GIAOVIEN (
	MAGV NVARCHAR(10),
	Name nvarchar(50)
)
go

CREATE TABLE hocsinh (
	MASV NVARCHAR(10),
	Name nvarchar(50)
)
go

ALTER TABLE HOCSINH	ADD NGAYSINH DATE

TRUNCATE TABLE HOCSINH -- XÓA TOÀN BỘ DỮ LIỆU TRONG BẢNG NHƯNG KO XÓA BẢNG

DROP TABLE hocsinh -- XÓA BẢNG KHỎI CSDL
GO